{% extends "layout.html" %}


{% block pageTitle %}
Jump to date
{% endblock %}



{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back to cases</a>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-l">
  <!-- <span class="govuk-caption-l">Brian Ball</span> -->
  Jump to date
</h1>
<h2 class='govuk-heading-m'>Select a date to view the case list for that day.
</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <nav class="app-pagination app-pagination--inline app-print--hide" role="navigation" aria-label="Pagination">
      <ul class="app-pagination__list">
        <li class="app-pagination__list-item">
          <a href="/cases/day/2020-06-17/case-list" class="app-pagination__link" style="padding-right: 20px;">
            <span class="app-pagination__link-title" style="text-align: center;">
              <span class="app-pagination__link-text">Mon</span><br>
              <span class="app-pagination__link-text" style="font-weight: bold; font-size: 36px;">9</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="/cases/day/2020-06-18/case-list" class="app-pagination__link" style="padding: 15px 20px;">
            <span class="app-pagination__link-title" style="text-align: center;">
              <span class="app-pagination__link-text" style="">Tue</span><br>
              <span class="app-pagination__link-text" style="font-weight: bold; font-size: 36px;">10</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="/cases/day/2020-06-19/case-list" class="app-pagination__link" style="padding: 15px 20px;">
            <span class="app-pagination__link-title" style="text-align: center;">
              <span class="app-pagination__link-text" style="">Wed</span><br>
              <span class="app-pagination__link-text" style="font-weight: bold; font-size: 36px;">11</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link" style="padding: 15px 20px;">
            <span class="app-pagination__link-title" style="text-align: center;">
              <span class="app-pagination__link-text" style="">Thu</span><br>
              <span class="app-pagination__link-text" style="font-weight: bold; font-size: 36px;">12</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link" style="padding: 15px 20px;">
            <span class="app-pagination__link-title" style="text-align: center;">
              <span class="app-pagination__link-text" style="">Fri</span><br>
              <span class="app-pagination__link-text" style="font-weight: bold; font-size: 36px;">13</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link" style="padding: 15px 20px;">
            <span class="app-pagination__link-title" style="text-align: center;">
              <span class="app-pagination__link-text" style="">Sat</span><br>
              <span class="app-pagination__link-text" style="font-weight: bold; font-size: 36px;">14</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="/cases/day/2020-06-24/case-list" class="app-pagination__link" style="padding-left: 20px;">
            <span class="app-pagination__link-title" style="text-align: center;">
              <span class="app-pagination__link-text" style="">Mon</span><br>
              <span class="app-pagination__link-text" style="font-weight: bold; font-size: 36px;">16</span>
            </span>
          </a>
        </li>
      </ul>
      

    </nav>
    <!-- <p class="govuk-body" style="margin-bottom: 0;"><a href="" role="button" draggable="false" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
      Confirm record
    </a></p>
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="javascript:history.back();">
      Cancel
    </a></p> -->

  </div>
  <div class="govuk-grid-column-one-third"></div>
</div>
</div>





</div>




{% endblock %}